services:
  nginx:
    image: nginx:stable-alpine
    container_name: nginx_hyphen
    restart: unless-stopped
    ports:
      - "4173:4173"
      - "1612:1612"
    volumes:
      - ./container.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - hyphen
      - hyphen-command-center-api
    networks:
      - webapps
  hyphen:
    # build:
    #   context: ./
    #   dockerfile: Dockerfile
    env_file: .env
    image: similie/hyphen-command-center:latest
    pull_policy: always
    networks:
      - webapps
      - redisnet
      - db-net
    restart: unless-stopped
    deploy:
      replicas: 1
    expose:
      - 4173
    environment:
      - DATABASE_URL=postgres://postgres:postgres@db:5432/hyphen
      - JWT_CLIENT_SECRET=${JWT_CLIENT_SECRET}
      - SECURE_HOST=true
      - REDIS_CONFIG_URL=redis://redis:6379/1
      - TZ=Asia/Dili
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - PUBLIC_API_URL=${PUBLIC_API_URL}
      - SIBLING_API_URL=http://hyphen-command-center-api:1612/api/v2/
      - DEFAULT_EMAIL_ADDRESS=info@similie.org
      - PUBLIC_GA_TRACKING_ID=G-XXXXXXXXXX
    extra_hosts:
      - "host.docker.internal:host-gateway" # Allows you to connect an localhost version of ollama
    depends_on:
      - redis
    logging:
      options:
        max-size: "10m"
        max-file: "3"
  hyphen-command-center-api:
    # build: # assuming command center api is in a sibling folder
    #   context: ../hyphen-command-center-api
    #   dockerfile: Dockerfile
    image: similie/hyphen-command-center-api:latest
    pull_policy: always
    networks:
      - webapps
      - redisnet
      - db-net
    env_file: .env
    deploy:
      replicas: 1
    restart: unless-stopped
    depends_on:
      - redis
    expose:
      - "1612:1612"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /tmp/host_builds:/tmp/host_builds
    environment:
      - DB_HOST=db
      - DB_USER=postgres
      - DB_PASSWORD=postgres
      - DB_PORT=5432
      - DB_DATABASE=hyphen_api
      - JWT_CLIENT_SECRET=${JWT_CLIENT_SECRET}
      - REDIS_CONFIG_URL=redis://redis:6379/1
      - MQTT_SUBSCRIPTIONS=Hy/#
      - MQTT_IOT_ENDPOINT=${MQTT_IOT_ENDPOINT}
      - MQTT_IOT_PORT=${MQTT_IOT_PORT}
      - SYSTEM_IDENTITY_NAME=${SYSTEM_IDENTITY_NAME}
      - AWS_REGION=${AWS_REGION}
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID_API}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY_API}
      - ENV_SECRET_KEY=${ENV_SECRET_KEY}
      - HOST_BUILDS_PATH=/tmp/host_builds
  redis:
    image: "redis:alpine"
    restart: unless-stopped
    expose:
      - "6379:6379"
    networks:
      - redisnet
  db:
    # map to 5433 because we probably have 5432 already open
    # ports:
    #   - 5433:5432
    expose:
      - "5432:5432"
    image: timescale/timescaledb-ha:pg17
    networks:
      - db-net
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
    volumes:
      - pgconfigdata:/var/lib/postgres/data
      - pgconfiglogs:/var/log/postgresql
      - ./sql:/docker-entrypoint-initdb.d
    restart: unless-stopped
networks:
  webapps:
    driver: bridge
  redisnet:
  db-net:
volumes:
  pgconfigdata:
  pgconfiglogs:
